<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<body class="lime lighten-3">
  <nav>
    <div class="nav-wrapper grey darken-1">
      <a href="#" class="brand-logo center">Digital Artist Prateek</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="http://www.askprateek.tk">Blog</a></li>
        <li><a href="http://github.com/askprateek">Github</a></li>
        <li><a href="http://www.facebook.com/AskPK123">Social</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
  <div class="row">
    <div class="col s2 offset-s5">
      <h3>Skills</h3>
    </div>
  </div>
  <div class="row">
    <ul class="collection">
     <li class="collection-item">Web Desgning</li>
     <li class="collection-item">Python</li>
     <li class="collection-item">C/C++</li>
     <li class="collection-item">Ruby</li>
     <li class="collection-item">Materilze CSS and Bootstrap Framework</li>
     <li class="collection-item">Adobe Photoshop</li>
     <li class="collection-item">My SQL</li>
     <li class="collection-item">GIT</li>
   </ul>
  </div>
</div>
</body>
<footer class="page-footer grey darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">DAP</h5>
                <p class="grey-text text-lighten-4">DAP CV in Rails</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Connect with me </h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://www.fb.com/askpk123">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://twitter.com/AskPK123">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://github.com/askprateek">Fork Me :3</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.askprateek.com">Blog</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Digital Artist Prateek
            </div>
          </div>
        </footer>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
